*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #000000;
    color:#ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.main-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}


.main-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.main-logo img{
    width: 300px;
    height: 300px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    transition-duration: 3s;
}

.icons{
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.icon-wrapper :hover{
    transform: rotate(20deg);
}